.jumbotron {
  background-color: greenyellow;
  font-size: 5em;
  font-family: 'Piedra', cursive;
  opacity: 70%;
  color: orangered;
  text-shadow:  2px 2px 8px rgb(32, 32, 32);
}
body {
  background-image: url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&w=1000&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}
h5 {
  font-family: monospace;
  color: blue
}
img {
  margin: 10px;
  padding-left: 10px;
  border-radius: 15%;
  box-shadow: 1px 1px rgb(85, 85, 85); 
} 
label  {
  color: blue;
  font-family:  'EB Garamond';
  font-size: 1.5em;
  text-shadow:  1px 1px rgb(32, 32, 32); 
  font-weight: lighter;
}
span {
  color: snow;
  font-family: 'Indie Flower', sans-serif;
  font-size: x-large;
  text-shadow:  2px 2px 8px rgb(32, 32, 32);
}
.btn {
  background-color: green;
  box-shadow: 1px 2px 3px rgb(85, 85, 85);
}